In [1]:
# john's code starts here

In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

#Load Data
TheData_df = pd.read_csv('DataFiles/clean_test_data.csv')
Data = TheData_df

#Run .Head()
Data.head()

,Title,Query_Title,Domestic Release Date,Year Released (Domestic),Month Released (Domestic),Infl. Adj. Dom. Box Office,Domestic Box Office,Genre,Theatrical Distributor,Total Oscars Awarded in Year,Awards,Metascore,IMDB,Rotten Tomatoes,Rated,Director,Runtime,Country
0,Titanic,Titanic,1997-12-19,1997,12,1240601558,659363944,Thriller/Suspense,Paramount Pictures,24,Won 11 Oscars. Another 113 wins & 83 nominations.,75.0,7.8,89%,PG-13,James Cameron,194 min,"USA, Mexico, Australia, Canada"
1,ET: The Extra-Terrestrial,ET The Extra-Terrestrial,1982-06-11,1982,6,1224582698,435110554,Drama,Universal,23,Won 4 Oscars. Another 48 wins & 35 nominations.,91.0,7.8,98%,PG,Steven Spielberg,115 min,USA
2,Star Wars Ep. VII: The Force Awakens,Star Wars Episode VII The Force Awakens,2015-12-18,2015,12,1006872847,936662225,Adventure,Walt Disney,25,Nominated for 5 Oscars. Another 62 wins & 126 ...,80.0,7.9,93%,PG-13,J.J. Abrams,138 min,USA
3,Avatar,Avatar,2009-12-18,2009,12,899243135,760507625,Action,20th Century Fox,25,Won 3 Oscars. Another 86 wins & 129 nominations.,83.0,7.8,82%,PG-13,James Cameron,162 min,USA
4,Star Wars Ep. V: The Empire Strikes Back,Star Wars Episode V The Empire Strikes Back,1980-05-21,1980,5,880005730,290271960,Adventure,20th Century Fox,22,Won 1 Oscar. Another 24 wins & 20 nominations.,82.0,8.7,94%,PG,Irvin Kershner,124 min,USA

In [3]:
#Group By Year
# YearReleased = Data.groupby('Year Released (Domestic)')
# CountYR = YearReleased['Year Released (Domestic)'].count()
# CountYR

#I don't think we need to go through data year over year. The difference is 
    #5 data sets vs 5*40 data sets 
    
#This is useful to check if we have all of our data

In [4]:
#Define Data Set Groups
d = {'Month Released (Domestic)': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
     'Data Set': ['Winter Dump Months', 
                    'Winter Dump Months', 
                    'Other Months', 
                    'Other Months', 
                    'Summer Blockbusters',
                    'Summer Blockbusters',
                    'Summer Blockbusters',
                    'Summer Dump Months',
                    'Summer Dump Months',
                    'Other Months',
                    'Oscar Season',
                    'Oscar Season',
                   ]}
DataSets_df = pd.DataFrame(data=d)
DataSets_df

    Month Released (Domestic)             Data Set
0                           1   Winter Dump Months
1                           2   Winter Dump Months
2                           3         Other Months
3                           4         Other Months
4                           5  Summer Blockbusters
5                           6  Summer Blockbusters
6                           7  Summer Blockbusters
7                           8   Summer Dump Months
8                           9   Summer Dump Months
9                          10         Other Months
10                         11         Oscar Season
11                         12         Oscar Season

In [5]:
SummData = pd.merge(Data, DataSets_df, 
                      how="left", on='Month Released (Domestic)')
SummData.head()

,Title,Query_Title,Domestic Release Date,Year Released (Domestic),Month Released (Domestic),Infl. Adj. Dom. Box Office,Domestic Box Office,Genre,Theatrical Distributor,Total Oscars Awarded in Year,Awards,Metascore,IMDB,Rotten Tomatoes,Rated,Director,Runtime,Country,Data Set
0,Titanic,Titanic,1997-12-19,1997,12,1240601558,659363944,Thriller/Suspense,Paramount Pictures,24,Won 11 Oscars. Another 113 wins & 83 nominations.,75.0,7.8,89%,PG-13,James Cameron,194 min,"USA, Mexico, Australia, Canada",Oscar Season
1,ET: The Extra-Terrestrial,ET The Extra-Terrestrial,1982-06-11,1982,6,1224582698,435110554,Drama,Universal,23,Won 4 Oscars. Another 48 wins & 35 nominations.,91.0,7.8,98%,PG,Steven Spielberg,115 min,USA,Summer Blockbusters
2,Star Wars Ep. VII: The Force Awakens,Star Wars Episode VII The Force Awakens,2015-12-18,2015,12,1006872847,936662225,Adventure,Walt Disney,25,Nominated for 5 Oscars. Another 62 wins & 126 ...,80.0,7.9,93%,PG-13,J.J. Abrams,138 min,USA,Oscar Season
3,Avatar,Avatar,2009-12-18,2009,12,899243135,760507625,Action,20th Century Fox,25,Won 3 Oscars. Another 86 wins & 129 nominations.,83.0,7.8,82%,PG-13,James Cameron,162 min,USA,Oscar Season
4,Star Wars Ep. V: The Empire Strikes Back,Star Wars Episode V The Empire Strikes Back,1980-05-21,1980,5,880005730,290271960,Adventure,20th Century Fox,22,Won 1 Oscar. Another 24 wins & 20 nominations.,82.0,8.7,94%,PG,Irvin Kershner,124 min,USA,Summer Blockbusters

In [6]:
Summary_df = SummData.groupby("Data Set").agg({'Title':'count', 
                                                'Infl. Adj. Dom. Box Office':'mean'#, 
                                                #'Oscars Won':'count' 
                                              })

Summary_df.head()

                     Title  Infl. Adj. Dom. Box Office
Data Set
Oscar Season           393                1.922157e+08
Other Months           236                1.611235e+08
Summer Blockbusters    517                2.216257e+08
Summer Dump Months     157                1.470178e+08
Winter Dump Months      90                1.472075e+08

In [7]:
#Make Box Office Look Good
Summary_df['Infl. Adj. Dom. Box Office'] = Summary_df[
    'Infl. Adj. Dom. Box Office'].astype(
     float).map("${:,.2f}".format)

Summary_df

                     Title Infl. Adj. Dom. Box Office
Data Set
Oscar Season           393            $192,215,714.64
Other Months           236            $161,123,492.67
Summer Blockbusters    517            $221,625,688.44
Summer Dump Months     157            $147,017,795.17
Winter Dump Months      90            $147,207,529.70

In [8]:
# john's code ends here